:root {
  --text-color: var(--default-color);
}

.example-output {
  color: var(--text-color);
  font-size: 1.8rem;
  min-height: 18rem;
  transition: color 0.9s ease;
}

.by {
  font-size: 1.3rem;
  text-align: right;
  padding-right: 5rem;
}


