
.code-block {
  background: var(--match-faded);
  border-radius: var(--default-radius);
  margin: var(--default-margin);
  padding: var(--default-padding);
}

.docs-examples-wrapper {
  margin-left: var(--xlarge-padding);
}

.docs-sub-details {
  padding: var(--small-padding);
  border-radius: 0.4rem;
}

.docs-sub-details > :where(:not(:first-child)) {
  padding-left: var(--default-padding);
}

.docs-sub-details:open > summary {
  padding-bottom: var(--xsmall-padding);
}

.docs-sub-details:open  {
  background-color: rgb(200 200 200 / 0.2);
  padding-bottom: var(--default-padding);
}

.inline-code {
  border: 1px solid rgb(200 200 200 / 0.4);
  border-radius: 0.4rem;
  font-family: monospace;
  padding-inline: 0.2rem;
}

.layout-wrapper {
/*
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 96vh;
  min-height: 96dvh;
*/
}

.page-subtitle {
  color: var(--default-faded);
  border-bottom: var(--accent-border);
}

.theme-switcher {
  display: flex;
  gap: var(--default-gap);
}

