.card {
  width: 22%;
  border-radius: 0.3rem;
  img {
    border-radius: 0.3rem;
  }
}

.deck-wrapper {
  display: flex;
  flex-wrap: wrap;
}

[data-filtered=true] [data-land=false] {
  opacity: 0.24;
}

