[data-receive=testResults] {
  min-height: 4rem;
}

[data-status=passed]::after {
  content: " passed";
  color: green;
}

[data-status=failed]::after {
  content: " failed";
  color: red;
}

[data-status=bug]::after {
  content: " bug";
  color: goldenrod;
}
