:root {
  --light--background-color: oklch(0.9634 0.02097 105.642);
  --light--default-color: oklch(0.1951 0.23 105.642);
  --light--faded-default-color: oklch(0.1951 0.23 105.642 / 0.653);
  --light--heading-color: oklch(0.165 0.18556 225.642);
  --light--faded-heading-color: oklch(0.165 0.18556 225.642 / 0.18);
  --light--link-color: oklch(0.5537 0.15458 225.642);
  --light--faded-link-color: oklch(0.5537 0.15458 225.642 / 0.604);
  --light--accent-color: oklch(0.4986 0.10843 165.642);
  --light--faded-accent-color: oklch(0.4986 0.10843 165.642 / 0.28);
  --light--info-color: oklch(0.645 0.09691077318165202 345.642);
  --light--faded-info-color: oklch(0.645 0.09691077318165202 345.642 / 0.376);
  --dark--background-color: oklch(0.2124 0.0298 254.092);
  --dark--default-color: oklch(0.8747 0.04454 254.092);
  --dark--faded-default-color: oklch(0.8747 0.04454 254.092 / 0.157);
  --dark--heading-color: oklch(0.6705 0.12874 254.092);
  --dark--faded-heading-color: oklch(0.6705 0.12874 254.092 / 0.308);
  --dark--link-color: oklch(0.7299 0.07889 14.091999999999985);
  --dark--faded-link-color: oklch(0.7299 0.07889 14.091999999999985 / 0.609);
  --dark--accent-color: oklch(0.7338 0.06558 194.09199999999998);
  --dark--faded-accent-color: oklch(0.7338 0.06558 194.09199999999998 / 0.567);
  --dark--info-color: oklch(0.4351 0.16022 74.09199999999998);
  --dark--faded-info-color: oklch(0.4351 0.16022 74.09199999999998 / 0.359);
  --hc-light--background-color: oklch(1 0.06752 259.652);
  --hc-light--default-color: oklch(0.0995 0.23 259.652);
  --hc-light--faded-default-color: oklch(0.0995 0.23 259.652 / 0.242);
  --hc-light--heading-color: oklch(0.6217704856122922 0.08831300417260277 319.652);
  --hc-light--faded-heading-color: oklch(0.6217704856122922 0.08831300417260277 319.652 / 0.572);
  --hc-light--link-color: oklch(0.5245 0.15006780734890438 259.652);
  --hc-light--faded-link-color: oklch(0.5245 0.15006780734890438 259.652 / 0.437);
  --hc-light--accent-color: oklch(0.3227 0.19753 19.651999999999987);
  --hc-light--faded-accent-color: oklch(0.3227 0.19753 19.651999999999987 / 0.318);
  --hc-light--info-color: oklch(0.5586547900477358 0.169058911353704 199.65200000000004);
  --hc-light--faded-info-color: oklch(0.5586547900477358 0.169058911353704 199.65200000000004 / 0.34);
  --hc-dark--background-color: oklch(0 0.20706934229967444 142);
  --hc-dark--default-color: oklch(1 0.20411 82);
  --hc-dark--faded-default-color: oklch(1 0.20411 82 / 0.385);
  --hc-dark--heading-color: oklch(0.9552 0.09830629780740073 142);
  --hc-dark--faded-heading-color: oklch(0.9552 0.09830629780740073 142 / 0.697);
  --hc-dark--link-color: oklch(0.962 0.004698125519856717 262);
  --hc-dark--faded-link-color: oklch(0.962 0.004698125519856717 262 / 0.628);
  --hc-dark--accent-color: oklch(0.874 0.23 142);
  --hc-dark--faded-accent-color: oklch(0.874 0.23 142 / 0.374);
  --hc-dark--info-color: oklch(0.6882 0.21203825105953206 22);
  --hc-dark--faded-info-color: oklch(0.6882 0.21203825105953206 22 / 0.418);
}
:root {
  --background-color: var(--background-color--switch, var(--light--background-color));
  --default-color: var(--default-color--switch, var(--light--default-color));
  --faded-default-color: var(--faded-default-color--switch, var(--light--faded-default-color));
  --heading-color: var(--heading-color--switch, var(--light--heading-color));
  --faded-heading-color: var(--faded-heading-color--switch, var(--light--faded-heading-color));
  --link-color: var(--link-color--switch, var(--light--link-color));
  --faded-link-color: var(--faded-link-color--switch, var(--light--faded-link-color));
  --accent-color: var(--accent-color--switch, var(--light--accent-color));
  --faded-accent-color: var(--faded-accent-color--switch, var(--light--faded-accent-color));
  --info-color: var(--info-color--switch, var(--light--info-color));
  --faded-info-color: var(--faded-info-color--switch, var(--light--faded-info-color));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color--switch, var(--dark--background-color));
    --default-color: var(--default-color--switch, var(--dark--default-color));
    --faded-default-color: var(--faded-default-color--switch, var(--dark--faded-default-color));
    --heading-color: var(--heading-color--switch, var(--dark--heading-color));
    --faded-heading-color: var(--faded-heading-color--switch, var(--dark--faded-heading-color));
    --link-color: var(--link-color--switch, var(--dark--link-color));
    --faded-link-color: var(--faded-link-color--switch, var(--dark--faded-link-color));
    --accent-color: var(--accent-color--switch, var(--dark--accent-color));
    --faded-accent-color: var(--faded-accent-color--switch, var(--dark--faded-accent-color));
    --info-color: var(--info-color--switch, var(--dark--info-color));
    --faded-info-color: var(--faded-info-color--switch, var(--dark--faded-info-color));
  }
}


/* tmp black/white/reverse/match until in the colors */


:root {
  --reverse-color: rgb(0 0 0);
  --faded-reverse-color: rgb(0 0 0 / 0.5);
  --match-color: rgb(255 255 255);
  --faded-match-color: rgb(255 255 255 / 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --match-color: rgb(0 0 0);
    --faded-match-color: rgb(0 0 0 / 0.6);
    --reverse-color: rgb(255 255 255);
    --faded-reverse-color: rgb(255 255 255 / 0.4);
  }
}





.code, .keyword.operator.comparison, .keyword.operator.assignment, .keyword.operator.arithmetic, .meta.brace.round, .meta.brace.curly, .punctuation.section, .punctuation.section.block, .punctuation.definition.parameters, .punctuation.section.group, .meta.selector.css, .text.html.basic .meta.tag.other.html, .text.html.basic .meta.tag.any.html, .text.html.basic .meta.tag.block.any, .text.html.basic .meta.tag.inline.any, .text.html.basic .meta.tag.structure.any.html, .text.html.basic .source.js.embedded.html, .punctuation.separator.key-value.html, .sublimelinter.outline.violation, .sublimelinter.gutter-mark, .variable.other.readwrite.js, .variable.other.object.js, .variable.other.constant.js { color: var(--accent-color); }
.variable, .entity.other.inherited-class, .entity.name.tag, .storage.type, .meta.brace.square, .punctuation.section.brackets, .entity.other.attribute-name.pseudo-element, .entity.other.attribute-name.tag.pseudo-element, .entity.other.attribute-name.pseudo-class, .entity.other.attribute-name.tag.pseudo-class, .support.function.perl, .meta.diff.range, .variable.language, .constant.numeric, .constant.other.reference.link.markdown { color: var(--info-color); }
.string, .string.regexp, .string.quoted.double, .string.quoted.single, .constant.other.symbol.ruby, .meta.preprocessor.c.include .string.quoted.other.lt-gt.include.c, .meta.preprocessor.c.include .punctuation.definition.string.begin.c, .meta.preprocessor.c.include .punctuation.definition.string.end.c, .other.add, .text.tex.latex .constant.other.math.tex, .constant.other.general.math.tex, .constant.other.general.math.tex, .constant.character.math.tex, .keyword.control.label.latex, .text.tex.latex .constant.other.general.math.tex, .support.function.general.tex, .keyword.control.ref.latex, .markup.changed, .markup.underline.link.markdown, .meta.link.reference .constant.other.reference.link.markdown, .entity.name.filename.find-in-files { color: var(--heading-color); }
.storage.modifier, .meta.scope.for-in-loop.shell, .variable.other.loop.shell, .meta.scope.case-block.shell, .meta.scope.case-body.shell, .comment, .meta.documentation, .punctuation.definition.tag.html, .punctuation.definition.tag.begin, .punctuation.definition.tag.end, .meta.diff, .meta.diff.header, .sublimelinter.outline.illegal, .brackethighlighter.all, .constant.numeric.line-number.find-in-files, .sublimelinter.notes, .punctuation.definition.string, .sublimelinter.outline.warning { color: var(--link-color); }
.keyword, .storage, .support, .support.type, .support.class, .punctuation.definition.variable, .support.function, .keyword.other.special-method.ruby, .support.function.be.latex, .storage.type.class.python, .storage.type.function.python, .storage.modifier.global.python, .storage.modifier.c\+\+, .markup.inserted, .markup.quote, .markup.inserted.git_gutter { color: var(--accent-color); }
.variable.function, .keyword.control.class, .entity.name, .entity.name.class, .entity.name.type.class, .entity.other.attribute-name, .entity.name.function, .constant, .constant.language, .meta.preprocessor, .support.constant.color, .invalid.deprecated.color.w3c-non-standard-color-name.scss, .entity.name.tag.css, .entity.name.tag.scss, .source.less .keyword.control.html.elements, .source.sass .keyword.control.untitled, .entity.other.attribute-name.class, .entity.other.attribute-name.id, .text.html.basic .entity.other.attribute-name.html, .meta.tag.xml .entity.other.attribute-name, .variable.other.constant.ruby, .meta.array .support.function.construct.php, .meta.group.braces.tex, .string.other.math.tex, .string.other.math.tex, .support.type.exception.python, .markup.heading, .punctuation.definition.heading.markdown, .sublimelinter.mark.warning, .markup.changed.git_gutter { color: var(--link-color); }
.meta.import .keyword, .keyword.control.import, .keyword.control.import.from, .keyword.other.import, .keyword.control.at-rule.include, .keyword.control.at-rule.import, .entity.name.section, .constant.character, .constant.other, .support.type.exception, .keyword.other.special-method, .keyword.other.special-method.ruby, .entity.name.function.preprocessor.c, .meta.preprocessor.c.include, .meta.preprocessor.macro.c, .variable.parameter.function.latex, .support.function.section.latex { color: var(--info-color); }
.constant.character.escape, .support.function.construct, .keyword.other.new, .punctuation.separator.continuation, .other.package.exclude, .other.remove, .punctuation.section.group.tex, .punctuation.definition.arguments.begin.latex, .punctuation.definition.arguments.end.latex, .punctuation.definition.arguments.latex, .punctuation.definition.constant.math.tex, .punctuation.definition.string.begin.tex, .punctuation.definition.string.end.tex, .variable.parameter.definition.label.latex, .punctuation.definition.logical-expression.shell, .markup.deleted, .sublimelinter.mark.error, .markup.deleted.git_gutter { color: var(--heading-color); }
