html {
  background-color: var(--background-color);
  color: var(--default-color);
}

body {
  background-color: var(--background-color);
  color: var(--default-color);
  opacity: var(--load-hider);
}

