:root {
  --load-hider: 0;
}

:root {
  --light--background-color: oklch(0.9634 0.02097 105.642);
  --light--default-color: oklch(0.1951 0.23 105.642);
  --dark--background-color: oklch(0.2124 0.0298 254.092);
  --dark--default-color: oklch(0.8747 0.04454 254.092);
  --background-color: var(--switch--background-color, var(--light--background-color));
  --default-color: var(--switch--default-color, var(--light--default-color));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--switch--background-color, var(--dark--background-color));
    --default-color: var(--switch--default-color, var(--dark--default-color));
  }
}
