body {
  font-family: "system-ui";
}

.code-block {
  padding: var(--default-padding);
  background-color: var(--faded-match-color);
  border-radius: var(--default-border-radius);
  border: var(--faded-accent-border);
}



