[data-connect=NameTagMaker] > :where(:not(:first-child)) {
  margin-top: var(--flow-space, var(--default-flow));
}

[data-init=nameTagColors] {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

[data-init=nameTagColors] > div {
  border: 1px solid #888;
  width: 50px;
  height: 34px;
}

.name-tag-color-block {
  background-color: var(--color);
}

.name-tag-wrapper {
  display: inline-block;
  width: 16rem;
  background-color: white;
  border-radius: 0.7rem;
  border: 4px solid var(--color);
}

.name-tag-name {
  font-size: 2rem;
  font-weight: 900;
  color: black;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  min-height: 7rem;
}

.name-tag-hello {
  text-align: center;
  color: var(--color);
}
