[# #########################################

DO NOTE EDIT THIS FILE MANUALLY
Use: helpers/match_makers_without_el_key/make_tests.py

######################################### #]

<[@ bitty_tag @] data-connect="[@ item.name|title @][@ item.memberof|title @][@ supplemental_string @]">
  <div $EV_ANCESTOR_DATA> 
    <div $EV_ITEM_DATA data-send="[@ method_name @]"></div>
  </div> 
  <div $EL_ANCESTOR_DATA>
    <div $EL_ITEM_DATA data-receive="[@ method_name @]" data-expects="[@ target_value @]"></div>
  </div>
</[@ bitty_tag @]>

