inline-code {
  border: 1px solid rgb(200 200 200 / 0.4);
  border-radius: 0.4rem;
  font-family: monospace;
  padding-inline: 0.2rem;
}

.docs-examples-wrapper {
  margin-left: var(--xlarge-padding);
}


.docs-sub-details {
  padding: var(--small-padding);
  border-radius: 0.4rem;
}

.docs-sub-details > :where(:not(:first-child)) {
  padding-left: var(--default-padding);
}

.docs-sub-details:open > summary {
  padding-bottom: var(--xsmall-padding);
}

.docs-sub-details:open  {
  background-color: rgb(200 200 200 / 0.2);
  padding-bottom: var(--default-padding);
}
