[data-connect=ChangeSVGColor] {
  display: grid;
  gap: 0.9rem;
}

[data-init=makeSliders] {
  display: grid;
  gap: 0.3rem;
}

.example-face {
  width: 9rem;
  height: auto;
}

.example-face path {
  fill: rgb(var(--svg-red) var(--svg-green) var(--svg-blue));
}
