inline-code {
  border: 1px solid rgb(200 200 200 / 0.4);
  border-radius: 0.4rem;
  font-family: monospace;
  padding-inline: 0.2rem;
}

.docs-sub-details > :where(:not(:first-child)) {
  padding-left: var(--default-padding);
}

.docs-sub-details:open > summary {
  padding-bottom: var(--xsmall-padding);
  border-bottom: 1px solid blue;
}

.docs-sub-details:open  {
  padding-bottom: var(--default-padding);
  border-bottom: 1px solid blue;
}