[data-connect=ChangeColor] {
  display: grid;
  gap: 0.9rem;
}

.change-color-display {
  border-radius: 0.4rem;
  background-color: rgb(var(--red) var(--green) var(--blue));
  width: 100px;
  height: 100px;
}
