<div class="info-color text-weight-900 info-bottom-border default-bottom-margin"><strong>dynamic</strong></div>
<ul class="sidebar-list">
[! for example_dir in folders_in_folder([vars.version_dir, "examples", "dynamic"]|join("/")) !]
  <li>
    [! if example_dir == file.parent !]
    [! include [example_dir, "name.html"]|join("/") -!]
    [! else !]
    <a href="/[@ example_dir @]/">[! include [example_dir, "name.html"]|join("/") -!]</a>
    [! endif !]
  </li>
[! endfor !]
</ul>
<div class="info-color info-bottom-border default-bottom-margin xlarge-top-margin"><strong>progressive enhancement</strong></div>
<ul class="sidebar-list">
[! for example_dir in folders_in_folder([vars.version_dir, "examples", "progressive-enhancement"]|join("/")) !]
  <li>
    [! if example_dir == file.parent !]
    [! include [example_dir, "name.html"]|join("/") -!]
    [! else !]
    <a href="/[@ example_dir @]/">[! include [example_dir, "name.html"]|join("/") -!]</a>
    [! endif !]
  </li>
[! endfor !]
</ul>
