.match-game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.tile-button {
  position: relative;
  width: 40px;
  height: 40px;
}

[data-state=try] {
  background-color: goldenrod;
}

[data-state=match] {
  background-color: green;
}

[data-state=miss] {
  background-color: red;
}

