.match-game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

[data-state=try] {
  background-color: goldenrod;
}

[data-state=match] {
  background-color: green;
}

[data-state=miss] {
  background-color: red;
}



