.match-game-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  gap: 4px;
}

.tile-button {
  position: relative;
  width: 50px;
  height: 50px;
}

[data-state=try] {
  background-color: goldenrod;
}

[data-state=match] {
  background-color: green;
}

[data-state=miss] {
  background-color: red;
}

.svg-head {
  position: absolute;
  top: 0px;
  left: 4px;
  width: 40px;
  height: auto;
}

.svg-face {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 26px;
  height: auto;
}

