@font-face { 
  font-family: "Hack";
  src: url("/fonts/HackNerdFontMono-Regular.ttf");
  font-display: block;
}

* {
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--info-color);
}

bitty-7-0 {
  display: block;
}

body {
  font-size: var(--default-font-size);
  font-family: "system-ui";
}

.code-block {
  padding: var(--default-padding);
  background-color: var(--faded-match-color);
  border-radius: var(--default-border-radius);
  border: var(--faded-accent-border);
}


h1 {
  border-bottom: var(--faded-accent-border);
  color: var(--heading-color);
}

h2 {
  border-bottom: var(--faded-accent-border);
  color: var(--heading-color);
}

header {
  margin-top: var(--xlarge-margin);
}

li > :where(:not(:first-child)) { 
  margin-top: var(--flow-space, var(--large-margin)); 
}

main {
  margin-top: var(--xxlarge-margin);
}

nav {
  padding-top: var(--default-margin);
}

ol > :where(:not(:first-child)) { 
  margin-top: var(--flow-space, var(--large-margin)); 
}

pre {
  white-space: pre-wrap; 
  overflow-wrap: anywhere;
  overflow-x: auto;
  overscroll-behavior-x: auto;
}

ul > :where(:not(:first-child)) { 
  margin-top: var(--flow-space, var(--default-margin)); 
}
