@font-face { 
  font-family: "Hack";
  src: url("/fonts/HackNerdFontMono-Regular.ttf");
  font-display: block;
}

* {
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--info-color);
}

bitty-7-0 {
  display: block;
}

body {
  font-size: var(--default-font-size);
  font-size-adjust: 0.5;
  line-height: 1.45;
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

.code-block {
  padding-left: 2.9rem;
  padding-block: var(--default-padding);
  background-color: var(--faded-match-color);
  border-radius: var(--default-border-radius);
  border: var(--faded-accent-border);
  font-size: var(--small-font-size);
}

.docs-method-version {
  color: var(--faded-default-color);
}


details > :where(:not(:first-child)) { 
  margin-top: var(--flow-space, var(--default-margin)); 
}

details > :where(:not(:first-child)) {
  padding-left: 1.4rem;
}

.example-block {
  padding: var(--default-padding);
  background-color: var(--faded-match-color);
  border-radius: var(--default-border-radius);
  border: var(--faded-accent-border);
  font-size: var(--small-font-size);
}

.example-block > :where(:not(:first-child)) { 
  margin-top: var(--flow-space, var(--default-margin)); 
}

h1 {
  border-bottom: var(--faded-accent-border);
  color: var(--heading-color);
  line-height: 1.1
}

h2 {
  border-bottom: var(--faded-accent-border);
  color: var(--heading-color);
  line-height: 1.1
}

h3 {
  color: var(--heading-color);
  line-height: 1.1
}

header {
  margin-top: var(--xlarge-margin);
}

.home-page-examples {
  display: flex;
  flex-wrap: wrap;
  gap: var(--xlarge-margin);
}

.home-page-example {
  border: var(--accent-border);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  min-height: 18rem;
  min-width: 12rem;
  max-width: 24rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

li > :where(:not(:first-child)) { 
  margin-top: var(--flow-space, var(--large-margin)); 
}

main {
  margin-top: var(--xxlarge-margin);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding-block: var(--large-padding);
}

.nowrap {
  white-space: pre; 
  overflow-wrap: normal;
  overscroll-behavior-x: scroll;
}

ol > :where(:not(:first-child)) { 
  margin-top: var(--flow-space, var(--large-margin)); 
}

pre {
  white-space: pre-wrap; 
  overflow-wrap: anywhere;
  overflow-x: auto;
  overscroll-behavior-x: auto;
}

pre > code .line-marker {
  counter-increment: codeBlockLineNumberX;
}

pre > code .line-marker:before {
    content: counter(codeBlockLineNumberX);
    display: inline-block;
    margin-left: -7.8ch;
    padding-right: 1ch;
    position: absolute;
    text-align: end;
    width: 7ch;
    color: var(--default-color);
}



.test-failed {
  color: red;
}

.test-passed {
  color: green;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

ul > :where(:not(:first-child)) { 
  margin-top: var(--flow-space, var(--default-margin)); 
}

.unit-test-columns {
  display: grid;
  grid-template-columns: 1fr 14rem;
  gap: var(--large-margin);
}

.unit-test-columns pre {
  font-size: var(--xsmall-font-size);
}

.unit-test-columns button {
  visibility: hidden;
}

.warning-box {
  border: var(--info-border);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  margin-inline: var(--xsmall-margin);
  margin-block: var(--xxlarge-margin);
}


