[data-receive="hangmanGallows"] path {
  stroke: var(--accent-color);
}

[data-receive="hangmanGallows"] svg {
  height: 200px;
  width: auto;
}

.active-button {
  background-color: red;
}

.bitty-example > * {
  margin-top: var(--flow-space, var(--default-flow));
}

.code-block {
  background: var(--match-faded);
  border-radius: var(--default-radius);
  margin: var(--default-margin);
  padding: var(--default-padding);
}

.docs-examples-wrapper {
  margin-left: var(--xlarge-padding);
}

.docs-sub-details {
  padding: var(--small-padding);
  border-radius: 0.4rem;
}

.docs-sub-details > :where(:not(:first-child)) {
  padding-left: var(--default-padding);
}

.docs-sub-details:open > summary {
  padding-bottom: var(--xsmall-padding);
}

.docs-sub-details:open  {
  background-color: rgb(200 200 200 / 0.2);
  padding-bottom: var(--default-padding);
}

.hp-example {
  display: inline-block;
  border: 1px solid blue;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: var(--default-radius);
}

.hp-example-code-link {
  margin-top: 0.4px;
  border-top: 1px solid blue;
  padding-top: 0.4px;
}

.hp-example-content {
  padding-bottom: 0.7rem;
}

.hp-example-wrapper {
  display: grid;
  grid-template-rows: 2.4rem auto 2.4rem;
  height: 100%;
}

.hp-examples {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.inline-code {
  border: 1px solid rgb(200 200 200 / 0.4);
  border-radius: 0.4rem;
  font-family: monospace;
  padding-inline: 0.2rem;
}

.page-subtitle {
  color: var(--default-faded);
  border-bottom: var(--accent-border);
}

.theme-switcher {
  display: flex;
  gap: var(--default-gap);
}


























.blue {
  color: blue;
}

.center {
  display: flex;
  justify-content: center;
}

.docs-summary {
  color: var(--heading);
  font-size: var(--large-font);
  font-weight: 500;
}

.download-div {
  display: flex;
  justify-content: center;
}

.download-link-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--default-faded2);
  border: 1px solid var(--default-faded);
  border-radius: 0.4rem;
  padding-block: var(--large-padding);
  padding-inline: var(--xlarge-padding);
  font-size: 1.7rem;
}

.download-link-wrapper-small {
  display: inline-block;
  background-color: var(--default-faded2);
  border: 1px solid var(--default-faded);
  border-radius: 0.4rem;
  padding-block: var(--large-padding);
  padding-inline: var(--xlarge-padding);
  font-size: var(--small-font);
}

.example-output-wrapper {
  font-size: var(--small-font);
  background-color: var(--match);
  border: var(--reverse-border-faded);
  border-radius: var(--default-radius);
  padding-inline: var(--default-padding);
  padding-block: var(--small-padding);
}

.example-output-title {
  font-size: var(--small-font);
  border-bottom: var(--default-border);
  margin-bottom: var(--large-margin);
}

.example-output {
  margin-block: var(--xlarge-margin);
}

.example-wrapper {
  border: var(--accent-border);
  border-radius: var(--default-radius);
  margin-inline: var(--xlarge-margin);
  padding: var(--large-padding);
}


/*
.example-output > bitty-COMPONENT_VERSION > :where(:not(:first-child)) {
  margin-top: var(--flow-space, var(--default-flow));
}

.example-output > bitty-COMPONENT_VERSION > div {
  font-size: var(--small-font);
}
*/

.green {
  color: darkgreen;
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-flex-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1em;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.code-block {
  background-color: var(--match);
  border: var(--reverse-border-faded);
  border-radius: var(--default-radius);
  font-size: var(--default);
  padding-inline: var(--default-padding);
  padding-block: var(--small-padding);
  line-height: var(--xsmall-line-height);
}

.code-block-wrapper {
  background-color: var(--match);
  border: var(--reverse-border-faded);
  border-radius: var(--default-radius);
  font-size: var(--default);
  padding-inline: var(--default-padding);
  padding-block: var(--small-padding);
  line-height: var(--xsmall-line-height);
}

.code-block-title {
  font-size: var(--small-font);
  border-bottom: var(--default-border);
  margin-bottom: var(--large-margin);
}

.progressive-enhancement-wrapper {
  background-color: var(--default-faded2);
  border: var(--heading-border-faded);
  border-radius: var(--default-radius);
  color: var(--link);
  padding: var(--default-padding);
  width: 100%;
}

.red{
  color: darkred;
}

.section-code {
  margin-left: var(--large-margin);
  margin-block: var(--default-margin);
}

.section-code-block {
  background-color: var(--default-faded2);
  border: var(--reverse-border);
  border-radius: var(--default-radius);
  margin-bottom: var(--xlarge-margin);
  margin-inline: var(--large-margin);
}

.section-details {

  /*
  border: var(--accent-border-faded);
  border-radius: var(--default-radius);
  padding: var(--default-padding);
*/

}

.section-details > summary {
  list-style-position: outside;
  margin-left: 20px;
  color: var(--heading);
  font-size: var(--xlarge-font);
  font-weight: var(--weight-900);
  line-height: var(--xsmall-line-height);
  text-wrap: balance;
  padding-left: 0.2rem;
}

.section-details summary::marker {
  color: var(--heading);
}

.section-details bitty-COMPONENT_VERSION {
  background-color: var(--default-faded2);
  border: var(--heading-border-faded);
  border-radius: var(--default-radius);
  padding: var(--default-padding);
  width: 100%;
}

:root {
  --test-passed-color: #43eb1c;
  --test-failed-color: #eb251c;
}

.test-title {
  border-top: var(--accent-border-faded);
}

.test-failed {
  color: var(--test-failed-color);
}

.test-passed {
  color: var(--test-passed-color);
}

.test-output button {
  opacity: 0;
}

.test-output-wrapper {
  border-top: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr 5rem;
  gap: 1rem;
}

.member-example-summary summary {
  color: var(--accent);
}

.section-details > *:not(summary) {
  margin-left: 1.4rem;
}

.sub-section-details > *:not(summary) {
  margin-left: 1rem;
}

main {
  margin-bottom: 2rem;
}

.footer-wrapper {
  margin-block: 2rem;
}

p {
  max-width: var(--small-width);
}

.main-section[open] {
  padding-bottom: var(--xxxlarge-padding);
  border-bottom: var(--accent-border);
}

.green-background-with-padding {
  padding: 2rem;
  background-color: green;
  border-radius: 0.6rem;
}

.black-background {
  background-color: black;
  padding: 0.3rem;
}

.color-names-wrapper {
  display: grid;
  grid-template-columns: 5rem 1fr;
}

