.book {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 4rem 1fr;  
  margin-bottom: 0.4rem;

  img {
    grid-row: span 2;
  }
}

.bookshelf {
  display: grid;
  grid-template-columns: 1fr 8rem;
}

label {
  display: block;
}
